@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Poppins:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.side-bar {
  height: 100vh;
  width: min-content;
  
  background-color: rgba(0, 0, 0, .25);
  
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  padding: 2rem;

  transition: 300ms;
}

.side-bar-open {
  width: calc(6rem + 17ch);
}

.side-bar > ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

}

.link-side-bar {
  position: relative;
}

.link-side-bar > img {
  width: 2rem;
}

.link-side-bar > span {
  opacity: 0;
  position: absolute;
  min-width: max-content;
  
  font-weight: bold;

  left: 4rem;
  top: 50%;
  transform: translateY(-50%);

  transition: 300ms;
}

.side-bar-text-shown {
  opacity: 1 !important;
}
